.btn{
    transition: all 0.3s ease 0s;
    &:focus{
        outline: 0;
    }
    &.btn-primary{
        background-color: $primary;
        color: $primary-text;
        border-color: darken($primary, 20%);
        &:hover{
            background-color: darken($primary, 20%);
            border-color: darken($primary, 40%);
        }
    }
}
