<section id="about" class="container" fade-in="500">
    <h2>About Us</h2>
    <hr/>
    <div class="col-md-6">
        <p>
            Bacon ipsum dolor amet drumstick boudin ham hock ut, ball tip flank do turkey kielbasa cillum pork chop tail velit. Kielbasa officia consequat jerky turducken cow in capicola dolore ea. Kielbasa ground round picanha tempor cillum officia fugiat boudin dolor laboris short ribs short loin exercitation prosciutto. Kevin cillum reprehenderit fatback pig ut anim aute. Leberkas sed pastrami, frankfurter dolore brisket nulla. Dolore consectetur ex, officia cow sed swine aute jerky hamburger chuck short ribs beef ribs drumstick esse. Deserunt irure dolore, ribeye pastrami prosciutto in eiusmod.
        </p>
    </div>
    <div class="col-md-6">
        <uib-carousel interval="10000">
            <uib-slide ng-repeat="slide in ctrl.slides">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</section>
<section id="twitch" class="container" fade-in="500">
    <h2>Watch Us</h2>
    <hr/>
    <div class="col-md-6">
        <iframe
            src="http://player.twitch.tv/?channel=pubstomperspgh"
            width="1100"
            height="580"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">

        </iframe>
    </div>

</section>
<section id="team" class="container" fade-in="500">
    <h2>Meet the team!</h2>
    <hr/>
    <ul>
        <li ng-repeat="member in ctrl.members | orderBy : member.info.totalRaisedAmount">
            <member-card member="member"></member-card>
        </li>
    </ul>
</section>
<section id="donate" class="container" fadeIn="500">
    <h2>Please Donate!</h2>
    <hr/>
    <div class="col-md-6">
        <p>All donations are tax deductible and go entirely to Children's Hospital of Pittsburgh to pay for families that can't afford treatments. </p>
    </div>
    <div class="col-md-6">
        <label>Our Current Goal</label>
        <uib-progressbar class="progress"
                         type="success"
                         max="ctrl.teamInfo.fundraisingGoal" value="ctrl.teamInfo.totalRaisedAmount">
            {{ctrl.teamInfo.totalRaisedAmount | currency}} / {{ctrl.teamInfo.fundraisingGoal | currency}}
        </uib-progressbar>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" target="_blank" ng-href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID={{ctrl.teamId}}">Donate Now!</a>
    </div>

</section>
<section id="join" class="container" fadeIn="500">
    <h2>Join Us!</h2>
    <hr/>
    <p>Be a part of the team</p>
    <p>Anim andouille venison in adipisicing nisi ham hock swine brisket salami shankle ground round tenderloin boudin sirloin. Commodo est prosciutto lorem leberkas quis veniam beef ribs andouille corned beef in pork tri-tip brisket. Dolor et minim, beef ribs veniam jowl nulla bresaola pork loin ut tail esse drumstick. Fugiat elit ham ut nulla, short loin dolor pork belly pork loin duis fatback capicola landjaeger.</p>
    <a ng-href="https://www.extra-life.org/index.cfm?fuseaction=register.start&eventID=525&teamID={{ctrl.teamId}}" target="_blank" class="btn btn-lg btn-primary">
        <span class="fa fa-gamepad"></span> Join Now!
    </a>
</section>
<section id="contact" class="container" fade-in="500">
    <h2>Contact Us</h2>
    <hr/>
    <ul>
        <li><a href="mailto:stephen@stephenandrewdesigns.com"><span class="fa fa-envelope"></span></a></li>
        <li><a href="//www.twitter.com/PubstompersPgh" target="_blank"><span class="fa fa-twitter"></span></a></li>
        <li><a href="//www.twitch.tv/pubstomperspgh" target="_blank"><span class="fa fa-twitch"></span></a></li>
    </ul>
</section>
