.container {
    h2{
        text-align: center;
    }
    ul li{
        display:inline-block;
    }
}
#team {
    text-align:center;
}
#join{
    text-align: center;
}
#follow{
    text-align: center;
    .fa{
        font-size:50px;
        padding-right:15px;
    }
}
