#main {
    .container {
        padding-bottom: 25px;
        min-height: 500px;
        h2 {
            text-align: center;
            margin-top: 75px;
            margin-bottom: 10px;
        }
        h3{
            margin-top:20px;
        }
        hr {
            width: 100px;
            margin-bottom: 20px;
            border-width: 4px;
            border-color: #333;
        }
        ul {
            padding-left:0px;
            li {
                display: inline-block;
            }
        }
        p{
            margin: 20px;
        }
    }
    #twitch {
        @include tintedBg("styles/images/section-bg4.jpg", darken($primary, 5%), 0.25);
        text-align: center;
        color: darken($primary, 40%);
        hr{
            border-color: darken($primary, 40%);
        }
    }
    #about {
        @include tintedBg("styles/images/section-bg2.jpg", darken($primary, 15%), 0.25);
        text-align: center;
        color: darken($primary, 40%);
        hr {
            border-color: darken($primary, 40%);
        }
        .carousel{
            margin-top:20px;
        }
    }
    #team {
        @include tintedBg("styles/images/section-bg1.jpg", darken($primary, 30%), 0.82);
        text-align: center;
        color: $primary-text;
        hr {
            border-color: $primary-text;
        }
    }

    #donate, #events{
        @include tintedBg("styles/images/section-bg4.jpg", darken($primary, 15%), 0.4);
        text-align: center;
        .fa {
            color: $primary-text;
            font-size: 50px;
            padding-right: 15px;
            &:hover {
                color: $primary;
            }
        }
        .progress-bar-success span{
            position:absolute;
            left: 41%;
            color: #333;
        }
        li{
            display: block;
        }
        a{
            color: white;
        }
    }
    #join {
        @include tintedBg("styles/images/section-bg3.jpg", darken($primary, 25%), 0.5);
        color: $primary-text;
        hr {
            border-color: $primary-text;
        }
        text-align: center;

    }
    #contact {
        @include tintedBg("styles/images/section-bg4.jpg", darken($primary, 5%), 0.25);
        text-align: center;
        color: darken($primary, 40%);
        hr{
            border-color: darken($primary, 40%);
        }
        .fa {
            color: darken($primary, 40%);
            font-size: 50px;
            padding-right: 15px;
            &:hover {
                color: $primary;
            }
        }
    }
}
