#intro-header{
    @include tintedBg("styles/images/header-bg.jpg", darken($primary, 30%), 0.79);
    height:700px;
    .content{
        position:relative;
        top:50px;
        text-align:center;
        .logo{
            width:200px;
            height:200px;
            margin-left:auto;
            margin-right:auto;
        }

        p{
            font-size: 1.2rem;
            color: $primary-text;
            position:relative;
            margin: 20px;
        }
    }
}
