#nav-menu{
    width:100%; height:30px;
    > ul{
        width:100%;
        z-index:10;
        background-color: white;
        padding-left: 0px;
        text-align: right;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
        li {
            padding: 10px;
            display: inline-block;
            a {
                color:#333;
                text-decoration: none;
                font-weight:200;
                &:hover, &:active{
                    color:$primary;
                    border-bottom: 2px solid $primary;
                }
            }
            &:first-child{
                position:absolute;
                left: 0px;
                a {
                    font-weight:600;

                }
            }
        }
    }
}
